<div class="body-div">
    <div class="container">
        <div class="form-container">
            <h2>Create New Account</h2>
            <p>It's free to signup and only takes a minute.</p>

            <form [formGroup]="signupForm" (ngSubmit)="signUp()">

                <label for="name">Name</label>
                <input type="text" placeholder="Enter your Name" formControlName="name" />

                <label for="email">Email address</label>
                <input type="email" placeholder="Enter your email address" formControlName="email" />

                <label for="password">Password</label>
                <input type="password" placeholder="Enter your password" formControlName="password" />

                <label for="mobile">Mobile No</label>
                <input type="number" placeholder="Enter your mobile no" formControlName="mobileNumber" />

                <p class="terms">
                    By clicking <strong>Create an account</strong> below, you agree to our terms of service and privacy
                    statement.
                </p>

                <button type="submit" class="primary-btn">Create Account</button>

            </form>

            <p class="signin-text">
                Already have an account?<a [routerLink]="['login']"> Sign In</a>
            </p>
        </div>

        <div class="image-container">
            <img src="assets/svgFiles/signup.svg" alt="Signup Illustration" />
        </div>
    </div>
</div>